<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="spec/setup/bootstrap.php" stopOnError="true" colors="true">
    <php>
        <var name="db_dsn" value="pgsql:dbname=testdb;host=localhost"/>
        <var name="db_username" value="postgres"/>
        <var name="db_password" value="testdb"/>
    </php>
    
    <testsuites>
        <testsuite name="Test DB">
            <directory>spec</directory>
        </testsuite>
    </testsuites>
</phpunit>
